:root {
    --primary-color: #e5e7eb;
    --secondary-color: #a7afbe;
    --hover-color: #444a80;
    --background-color: #282c35;
    --font-family: 'Inter', Arial, Helvetica, sans-serif;
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 2rem;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    line-height: 1.5;
}

.main {
    max-width: 60ch;
    margin: 1.5rem auto 0;
    width: 100%;
}

.head {
    display: flex;
    align-items: center;
}

.header {
    position: relative;
    display: block;
    overflow: hidden;
    height: 2rem;
    width: 100%;
    font-size: var(--font-size-xlarge);
    font-weight: 700;
}

.blog-name-zh, .blog-name-en {
    display: block;
    transition: transform 0.5s, opacity 0.5s;
    line-height: 1em;
    width: 100%;
    text-align: left;
}

.blog-name-en {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
}

.header:hover .blog-name-zh {
    transform: translateY(-100%);
    opacity: 0;
}

.header:hover .blog-name-en {
    transform: translateY(-100%);
    opacity: 1;
}

.profile {
    margin-left: -250px;
    height: 2rem;
    align-self: flex-end;
    font-size: var(--font-size-small);
    color: var(--secondary-color);
}

.nav {
    display: flex;
    align-items: center;
}
.nav-blog{
    display: flex;
    align-items: center;
}
.nav-blog a{ 
    color: #c3cad3;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.blog-content{
    color: #36c912;
}
.nav-blog a:hover{
    text-decoration: underline;
}
.footer-blog a{ 
    color: #c3cad3;
    font-size: 1rem;
    font-weight: 300;
    transition: color 0.3s ease;
}
.footer-blog a:hover{
    color:rgb(112, 146, 186)
}

.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--hover-color);
}

.nav span {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: 700;
    padding: 0.4rem;
}

.content {
    display: flex;
    font-size: var(--font-size-medium);
}

.year p {
    color: #c3cad3;
    margin-top: 2rem;
    font-size: var(--font-size-medium);
    font-weight: 700;
}

.article a {
    text-decoration: none;
    color: #cccccc;
}

.article a:hover {
    text-decoration: underline;
}

.article span {
    padding-left: 1rem;
    color: #777f92;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.article a:hover + span {
    opacity: 1;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer p, .footer a {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        padding-top: 2rem;
    }
}