---
layout: default
title: 杂念
---
<div class="fragments">
  {% assign fragments_by_year = site.fragments | group_by_exp: "fragment", "fragment.date | date: '%Y'" | sort: "name" | reverse %}
  {% for year_group in fragments_by_year %}
    <div class="fragment-year-section">
      <h2 class="fragment-year">
        {% assign year = year_group.name | to_integer %}
        {% assign year_str = '' %}
        {% assign temp_year = year %}
        {% for i in (1..4) %}
          {% assign digit = temp_year | modulo: 10 %}
          {% case digit %}
            {% when 0 %}{% assign year_str = '零' | append: year_str %}
            {% when 1 %}{% assign year_str = '一' | append: year_str %}
            {% when 2 %}{% assign year_str = '二' | append: year_str %}
            {% when 3 %}{% assign year_str = '三' | append: year_str %}
            {% when 4 %}{% assign year_str = '四' | append: year_str %}
            {% when 5 %}{% assign year_str = '五' | append: year_str %}
            {% when 6 %}{% assign year_str = '六' | append: year_str %}
            {% when 7 %}{% assign year_str = '七' | append: year_str %}
            {% when 8 %}{% assign year_str = '八' | append: year_str %}
            {% when 9 %}{% assign year_str = '九' | append: year_str %}
          {% endcase %}
          {% assign temp_year = temp_year | divided_by: 10 %}
        {% endfor %}
        {{ year_str }}
      </h2>
      {% assign sorted_fragments = year_group.items | sort: "date" | reverse %}
      {% for fragment in sorted_fragments %}
        <div class="fragment-item">
          <span class="fragment-date">{{ fragment.date | date: "%m-%d" }}<br></span>
          <span class="fragment-content">{{ fragment.content }}</span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>