---
layout: default
lang: zh
---
<div class="article">
    <h3 data-lang-key="friends">
        {% assign lang = page.lang %}
        {% if lang == 'en' %}Friends{% else %}友情链接{% endif %}
    </h3>
    <!-- 渲染友邻内容 -->
    {% if site.data.site_data.friends and site.data.site_data.friends.size > 0 %}
        <ul>
            {% for friend in site.data.site_data.friends %}
            <li>
                <a href="{{ friend.url }}{% if lang != 'zh' %}?lang={{ lang }}{% endif %}" target="_blank" data-lang-key="friend_name_{{ forloop.index }}">
                    {% if lang == 'en' %}
                        {{ friend.name_en }}
                    {% else %}
                        {{ friend.name }}
                    {% endif %}
                </a>
                <p data-lang-key="friend_desc_{{ forloop.index }}">
                    {% if lang == 'en' %}
                        {{ friend.description_en }}
                    {% else %}
                        {{ friend.description }}
                    {% endif %}
                </p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>友情链接未加载，请检查 _data/site_data.yml 中的 friends 配置。</p>
    {% endif %}
</div>