<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="head">
        <div class="blog-name">
            <h1>孤舟听雨</h1>
            <h1>Wesson</h1>
        </div>
        <div class="profile">
            <h3>——岁月如歌，静听风雨。</h3>
        </div>
    </div>
    <div class="nav">
        <a href="/">博文</a>
        <span>/</span>
        <a href="/fragments">杂念</a>
        <span>/</span>
        <a href="/about">关于我</a>
    </div>
    <div class="content">
        {{ content }}
    </div>
    <div class="footer">
        © 2025 | @Wesson | 主页本站已运行：
    </div>
</body>
</html>