---
layout: default
---
<main class="content"> 
    <section class="tag-content">
        <h3 data-lang-key="tag_title">标签: {{ page.tag }}</h3>
        <ul class="post-list" id="posts-list">
            {% assign lang = page.lang | default: 'zh' %}
            {% for post in site.tags[page.tag] %}
            {% if post.lang == lang %}
            <li>
                <a href="{{ post.url | relative_url }}?lang={{ lang }}">{{ post.title }}</a>
                <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    <div class="back-button-container">
        <button class="back-button" aria-label="返回上一页" data-lang-key="back">
            <i class="fas fa-arrow-left"></i> <span>返回</span>
        </button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            Utils.executeTagScripts(new URL(window.location.href));
        });
    </script>
</main>